 <h1> <strong>GELİR GİDER HESAPLAMA</strong> </h1>
 <form action="compute" method="post">
 <h2> <strong>GİDERLER</strong> </h2>
 <textarea name="input1" rows="10" cols="30"></textarea>
  <p>!!Lütfen giderleriniz alt alta yazınız..<p>
 <br>
 <hr>
  <h2> <strong>GELİRLER</strong> </h2>
 <p>Maaş:</p>
 <input name="input2">
 <br>
  <p>Kira:</p>
 <input name="input3">
 <br>
 <p>Hisse:</p>
 <input name="input4">
 <br>
 <input type="submit">
 <br>
 </form>
 {{result}}
